* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

#navcontent {
    font-size: small;
    font-family: 'Quicksand';
}

#button {
    background-color: #a9b33b;
}

#button:hover {
    background-color: #838b26;
}

#bestcontainer p {
    color: #a9b33b;
    font-family: the best;
}

#pre {
    color: #ffffff;
    font-size: larger;
    font-weight: 700;
    font-family: "Quicksand";
}

#pre1 {
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

@font-face {
    font-family: the best;
    src: url(assets/css/00819\ Regular.ttf);
}

#bestcontainer {
    margin-top: 200px;
    position: absolute;
}

#page1 {
    position: relative;
}

#imgbg1 {
    width: 100vw;
}

#page1 {
    position: absolute;
    top: 0px;

}

.col {
    width: 15%;
    height: 250px;
    background-color: ;
}

.card-body {
    border-radius: 20px;
}

#content pre {
    font-size: 30px;
    color: #404142;
    font-family: "Quicksand";
    text-align: center;
}

.phone-para {
    margin-bottom: 100px;
    font-size: 30px;
    color: #404142;
    font-family: "Quicksand";
    text-align: center;
}

#phoneimg {
    margin-right: 100px;
    height: 600px;
}

#phone-content {

    margin-bottom: 100px;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";

}

#phone-img img {
    background-image: url(/bhoot-psd/assets/images/phonebg.svg);
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    ;

}

#phone p {
    width: 654px;
    height: 238px;
    font-size: 14px;
    line-height: 23px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

#computer img {
    width: 250px;
    height: 500px;
}

#computer button {
    width: 235px;
    height: 47px;
    background-color: #aab33c;
    margin-left: 300px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.comp {
    font-size: 50px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 100px;
    }
th{
    padding: 18px;
}
tr,td {
    text-align: left;
    padding:18px 10px 18px 10px;
}

tr:nth-child(odd) {
    background-color:whitesmoke;
}
tr:nth-child(even) {
    background-color: #cacf8f;
}